.content {
    display: flex;
    flex-direction: column;
    min-block-size: 200px;
}

.description {
    margin: 0 0 var(--spacers-dp16) 0;
    color: var(--colors-grey700);
    font-size: 14px;
}

.listContainer {
    flex: 1;
    overflow-y: auto;
    min-block-size: 200px;
    max-block-size: 400px;
    border: 1px solid var(--colors-grey500);
    border-radius: 3px;
}

.listLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacers-dp8);
    block-size: 100%;
    min-block-size: 200px;
    color: var(--colors-grey700);
    font-size: 14px;
}

.aggregationSelect {
    margin-block-start: var(--spacers-dp16);
}
