.container {
    margin-block-end: var(--spacers-dp24) !important;
}

.heading {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: var(--colors-grey900);
    margin-block-end: var(--spacers-dp8);
}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacers-dp8) var(--spacers-dp16);
}
