# Do not touch these markdown files because the bullet point formatting
# expected by GitHub is with a single space after a hyphen and Prettier
# produces 3, which breaks the task checked action
.github/**/*.md
# after adding this ignore file prettier started checking the gitignored files
# so we need to add them here too
node_modules
.d2
src/locales/*
build
src/types/dhis2-openapi-schemas
