.detailsPanel {
    inline-size: 360px;
    block-size: 100%;
    box-sizing: border-box;
    border-inline-start: 1px solid var(--colors-grey400);
    background-color: var(--colors-grey100);
    padding-inline-end: 4px;
    overflow: hidden;
}
.detailsPanelContent {
    display: flex;
    flex-direction: column;
    inline-size: 356px;
    min-inline-size: 356px;
    block-size: 100%;
    padding: 4px;
    gap: 8px;
    overflow: auto;
}
.card {
    border: 1px solid var(--colors-grey400);
    border-radius: 5px;
    flex: 0 0 auto;
    overflow: hidden;
}
.card > :global(.container) {
    border: none;
    border-radius: 5px;
}
