.axisContainer {
    display: flex;
    padding-block: 2px 4px;
    padding-inline: 6px 4px;
    background-color: white;
}

.axisContainer.columns {
    grid-area: columns;
}

.axisContainer.rows {
    grid-area: rows;
}

.axisContainer.filters {
    grid-area: filters;
}

.label {
    min-inline-size: 55px;
    max-inline-size: 55px;
    padding: 2px 0 0 0;
    font-size: 11px;
    color: var(--colors-grey700);
    user-select: none;
    letter-spacing: 0.2px;
}

.content {
    position: relative;
    inline-size: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    min-block-size: 32px;
}

.emptyDropArea {
    flex: 1;
    min-block-size: 32px;
}
