.axisLabel {
    font-size: 10px;
    font-weight: 500;
    color: var(--colors-grey600);
    user-select: none;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    font-family:
        ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Monaco,
        Consolas,
        Liberation Mono,
        monospace !important;
}
