.container:not(.isLastItem) {
    position: absolute;
    inset-block: 0;
    inset-inline-end: 0;
    inline-size: 50%;
}
.container.isLastItem {
    flex-grow: 1;
    /* Last 40px of the chip should also trigger
     * the "show marker at end" behaviour */
    margin-inline-start: -40px;
}
