.container {
    flex: 1;
    min-block-size: 100%;
}
.markerAnchor {
    inline-size: 1px;
    /* Same as chip, which is 20px + 1px border top/bottom */
    block-size: 22px;
    margin: 2px;
    position: relative;
}
