.panel {
    display: flex;
    flex-direction: column;
    inline-size: calc(100% - 8px);
    margin: 4px;
    border-radius: 5px;
    border: 1px solid var(--colors-grey400);
    overflow: hidden;
    background: var(--colors-white);
}
