.panel {
    display: flex;
    flex-direction: column;
    inline-size: calc(100% - 8px);
    margin: 4px;
    border-radius: 5px;
    border: 1px solid var(--colors-grey400);
    overflow: hidden;
    background: var(--colors-white);
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        'columns filters'
        'rows filters';
    gap: 1px;
    border-color: var(--colors-grey300);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.03);
}

.container.lineList {
    grid-template-areas: 'columns filters';
}

.expandButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    box-shadow: inset 0 4px 8px -6px rgba(40, 60, 85, 0.05),
        inset 0 -4px 8px -6px rgba(40, 60, 85, 0.05);
    background-color: var(--colors-white);
    cursor: pointer;
    transition: background-color 0.15s ease, color 0.15s ease;
}

.expandButton:hover {
    background-color: var(--colors-grey100);
}
