.groupLeft {
    flex-basis: 65%;
}

.groupLeft > div:not(:last-child) {
    border-block-end: 1px solid var(--colors-grey300);
}

.groupRight {
    flex-basis: 35%;
    border-color: var(--colors-grey300);
    border-style: solid;
    border-width: 0;
    border-inline-start-width: 1px;
}
