.container {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-shrink: 0;
    margin: 4px 0 4px 4px;
    block-size: calc(100% - 8px);
    border: 1px solid var(--colors-grey400);
    border-radius: 5px;
    background-color: var(--colors-grey100);
    overflow: hidden;
}

.container.hidden {
    display: none;
}

.resizeHandle {
    position: absolute;
    inset-block: 0;
    inset-inline-end: 0;
    inline-size: 4px;
    z-index: 6;
    cursor: col-resize;
    touch-action: none;
    background-color: var(--colors-blue500);
    opacity: 0;
    transition: opacity 0.18s ease;
    transition-delay: 0ms;
}

.resizeHandle:hover,
.resizeHandle.active {
    opacity: 1;
    transition-delay: 0.25s;
}

.searchRow {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-block: 6px 2px;
    padding-inline: 4px;
    gap: 2px;
    z-index: 1;
}

.searchRow.scrolled {
    box-shadow: 0 1px 4px #090a0f1a;
}

.dimensionCardsContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #c7cfd6 transparent;
    gap: 8px;
    padding-block-start: 8px;
    padding-inline: 4px;
    padding-block-end: 4px;
    margin-inline-end: 2px;
    transition: scrollbar-color 0.18s ease;
}

.dimensionCardsContainer:hover {
    scrollbar-color: #b2bdc7 transparent;
}
