.container {
    display: flex;
    flex-direction: column;
    background-color: var(--colors-white);
    border: 1px solid var(--colors-grey400);
    border-radius: 5px;
}
.container:focus {
    outline: 3px solid var(--theme-focus);
    outline-offset: -3px;
}
.content {
    display: flex;
    flex-direction: column;
}
.content.collapsed {
    display: none;
}
