.search {
    margin-block-end: var(--spacers-dp8);
}

.listContainer {
    overflow-y: auto;
    min-block-size: 200px;
    max-block-size: 300px;
    background-color: var(--colors-white);
    border: 1px solid var(--colors-grey500);
    border-radius: 3px;
}

.listLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacers-dp8);
    block-size: 100%;
    min-block-size: 200px;
    color: var(--colors-grey700);
    font-size: 14px;
}

.noMatches {
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 100%;
    min-block-size: 200px;
    padding: var(--spacers-dp16);
    color: var(--colors-grey600);
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.aggregationSelect {
    margin-block-start: var(--spacers-dp16);
}
