.modalContent {
    display: flex;
    flex-direction: column;
}

.popoverCard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-inline-size: 640px;
    max-inline-size: 640px;
    max-block-size: calc(100vh - 200px);
    background-color: var(--colors-white);
    border: 1px solid var(--colors-grey400);
    border-radius: 3px;
    box-shadow:
        0 4px 12px rgba(12, 12, 12, 0.15),
        0 0 0 1px rgba(0, 0, 0, 0.05);
}

.popoverCard.withArrow {
    margin-inline-start: 8px;
}

.popoverArrow,
.popoverArrow::after {
    position: absolute;
    block-size: 12px;
    inline-size: 12px;
}

.popoverArrow {
    inset-block-start: 12px;
    inset-inline-start: -7px;
    overflow: hidden;
}

.popoverArrow::after {
    content: '';
    inset-block-start: 0;
    inset-inline-start: 6px;
    transform: rotate(45deg);
    background-color: var(--colors-white);
    border-block-end: 1px solid var(--colors-grey400);
    border-inline-start: 1px solid var(--colors-grey400);
}

.popoverContent {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: var(--spacers-dp4) var(--spacers-dp8);
    overflow: auto;
}

.popoverFooter {
    padding: var(--spacers-dp8) var(--spacers-dp8);
    border-block-start: 1px solid var(--colors-grey300);
}
