.optionTitle {
    display: inline-block;
    font-size: 15px;
    color: var(--colors-grey900);
    font-weight: 500;
    letter-spacing: 0.2px;
    padding-block-end: var(--spacers-dp12);
}

.optionToggleable {
    margin: var(--spacers-dp4) 0 0 23px;
    display: grid;
    gap: var(--spacers-dp16);
}
