/* Styles for DataSourceSelectCombobox */
.comboboxWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}
.combobox {
    display: flex;
    align-items: center;
    border: 1px solid var(--colors-grey500);
    border-radius: 3px;
    background-color: var(--colors-white);
    padding-block: 2px;
    padding-inline: 8px 4px;
    min-block-size: 32px;
    justify-content: space-between;
    flex-grow: 2;
}
.chevronWrap {
    display: flex;
}
.comboboxError {
    border: 1px solid var(--theme-error);
}
.label {
    font-size: 15px;
    font-weight: 400;
    color: var(--colors-grey900);
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
