.comboboxWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}
.combobox {
    display: flex;
    align-items: center;
    border: 1px solid var(--colors-grey500);
    border-radius: 3px;
    background-color: var(--colors-white);
    padding-block: 2px;
    padding-inline: 8px 4px;
    min-block-size: 32px;
    justify-content: space-between;
    flex-grow: 2;
}
.chevronWrap {
    display: flex;
}
.comboboxError {
    border: 1px solid var(--theme-error);
}

.loadingMessage,
.errorMessage {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-block: 8px;
    padding-inline: 24px;
    font-size: 13px;
    line-height: 20px;
}
.loadingMessage {
    color: var(--colors-grey700);
    gap: 16px;
}
.errorMessage {
    color: var(--theme-error);
}

.dropdown {
    display: flex;
    flex-direction: column;
    block-size: auto;
    background: var(--colors-white);
    border: 1px solid var(--colors-grey200);
    border-radius: 3px;
    box-shadow: var(--elevations-e300);
    box-sizing: content-box;
}

.filterWrapper {
    padding: 8px 8px 4px 8px;
}

.listbox {
    list-style: none;
    margin: 0;
    padding: 0;
    max-block-size: 400px;
    overflow-y: auto;
}

/* Section header */
.sectionHeader {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: var(--colors-grey600);
    padding-block: 12px 4px;
    padding-inline: 6px 12px;
}

/* Empty message */
.emptyMessage {
    padding: 6px 8px;
    color: #888;
}

/* Option */
.option {
    padding: 6px 8px;
    background: transparent;
    cursor: pointer;
}

.optionActive {
    background: #e0eaff;
}

/* Show more wrapper */
.showMoreWrapper {
    display: flex;
    padding: 4px 8px 10px 8px;
}

.showMoreButton {
    all: unset;
    inline-size: 100%;
    font-style: italic;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    color: var(--theme-primary700);
}
.showMoreButton:hover {
    text-decoration: underline;
}
