.comboboxWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}
.combobox {
    display: flex;
    align-items: center;
    border: 1px solid var(--colors-grey500);
    border-radius: 3px;
    background-color: var(--colors-white);
    padding-block: 2px;
    padding-inline: 8px 4px;
    min-block-size: 32px;
    justify-content: space-between;
    flex-grow: 1;
    max-inline-size: 100%;
}
.combobox.error {
    border: 1px solid var(--theme-error);
}
.combobox:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--theme-focus);
    border-color: var(--theme-focus);
}

.label {
    display: flex;
    gap: 12px;
    font-size: 13px;
    font-weight: 500;
    color: var(--colors-grey900);
    flex: 1 1 auto;
    overflow: hidden;
}
.label.empty {
    color: var(--colors-grey600);
}
.label > :global(svg) {
    flex-shrink: 0;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chevronWrap {
    display: flex;
}
