.listbox {
    list-style: none;
    margin: 0;
    padding: 0;
    max-block-size: 400px;
    overflow-y: auto;
}
.sectionHeader {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: var(--colors-grey600);
    padding-block: 12px 4px;
    padding-inline: 14px 12px;
}
.emptyMessage {
    padding: 8px;
    font-size: 13px;
    color: var(--colors-grey700);
    text-align: center;
    font-style: italic;
}
.showMoreWrapper {
    display: flex;
    padding: 4px 8px 10px 8px;
}
.showMoreButton {
    all: unset;
    inline-size: 100%;
    font-style: italic;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    color: var(--theme-primary700);
}
.showMoreButton:hover {
    text-decoration: underline;
}
