.section {
    padding: var(--spacers-dp16) 0;
    display: grid;
    gap: var(--spacers-dp16);
}

.subSectionTitle {
    display: inline-block;
    font-size: 15px;
    color: var(--colors-grey900);
    font-weight: 500;
    letter-spacing: 0.2px;
}
