.actionsBar {
    display: flex;
    flex-grow: 0;
    align-items: center;
}

.actionButtons {
    display: flex;
}

@media screen and (max-width: 768px) {
    .actionButtons {
        display: none;
    }
}
