.section {
    margin-block-end: var(--spacers-dp16) !important;
}

.heading {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: var(--colors-grey900);
    margin-block-end: var(--spacers-dp8);
}

.rangesFromStatic {
    font-size: 14px;
    line-height: 19px;
    color: var(--colors-grey700);
}

.rangesFromName {
    color: var(--colors-grey900);
    font-weight: 500;
}
