::-webkit-scrollbar {
    inline-size: 8px;
    block-size: 8px;
}
::-webkit-scrollbar-track {
    background: #fafafa;
}
::-webkit-scrollbar-thumb {
    background: #d1d1d1;
    border-radius: 3px;
}
