.tooltipAnchor > :global(button.small.icon-only) {
    padding: 6px 5px;
}

.tooltipAnchor > :global(button.small.icon-only) > :global(span.button-icon) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-inline-end: 0 !important;
    font-size: unset;
}
