.toolbar {
    display: flex;
    align-items: center;
    border-block-end: 1px solid var(--colors-grey400);
    padding: var(--spacers-dp4);
}

.togglers {
    display: flex;
    gap: var(--spacers-dp4);
}

.toolbarDivider {
    align-self: stretch;
    inline-size: 1px;
    background-color: var(--colors-grey300);
}
