.bottomBar {
    padding: 6px;
    background-color: var(--colors-white);
    border-block-start: 1px solid var(--colors-grey300);
    box-sizing: border-box;
}

.bottomBar.empty,
.bottomBar.loading {
    block-size: 29px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacers-dp12);
    animation: fadeIn 0.4s ease-out forwards;
}

.buttonUpdate {
    border: 1px solid #c8e4f9;
    padding: 0 8px 0 6px;
    color: var(--colors-blue800);
    background-color: var(--colors-blue100);
    box-shadow: 0 1px 2px 0 rgba(33, 41, 52, 0.04);
}

.buttonUpdate:hover:not(:disabled) {
    background-color: #daedfb;
    border-color: #c8e4f9;
    color: var(--colors-blue900);
}

.buttonUpdate:active:not(:disabled) {
    background-color: #d1e8fa;
    border-color: #c8e4f9;
    transform: translateY(1px);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
