.container {
    block-size: 100%;
    box-sizing: border-box;
    inline-size: 260px;
    border-inline-end: 1px solid var(--colors-grey400);
    padding: 4px;
    background-color: var(--colors-grey200);
}

.container.hidden {
    display: none;
}
.searchRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-block: 6px 2px;
    gap: 2px;
}
