.container {
    inline-size: 100%;
}

.inputWrap {
    display: inline-flex;
    align-items: center;
    position: relative;
    inline-size: 100%;
}

.searchIcon {
    position: absolute;
    display: flex;
    align-items: center;
    pointer-events: none;
    inset-inline-start: 10px;
    padding: 0px;
    color: var(--colors-grey600);
}

.input {
    inline-size: 100%;
    box-sizing: border-box;
    padding-inline-start: 30px; /* Space for left search icon */
    padding-block: 5px;
    border: 1px solid var(--colors-grey500);
    border-radius: 3px;
    font-size: 13px;
    line-height: 16px;
    box-sizing: border-box;
    user-select: text;
    color: var(--colors-grey900);
    outline: 0;
    box-shadow: inset 0 0 1px 0 rgba(48, 54, 60, 0.1);
    text-overflow: ellipsis;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--theme-focus) inset;
    border-color: var(--theme-focus);
}

.input::placeholder {
    color: var(--colors-grey600);
    opacity: 1;
}

/* Make space for right icon */
.input.error,
.input.loading {
    padding-inline-end: 30px;
}

/* Also shift the "clear button" */
.input.loading::-webkit-search-cancel-button,
.input.error::-webkit-search-cancel-button {
    inset-inline-end: 30px;
}

.input.error {
    border-color: var(--theme-error);
}

.statusIcon {
    position: absolute;
    display: flex;
    align-items: center;
    pointer-events: none;
    inset-inline-end: 10px;
}

.help {
    margin: var(--spacers-dp4) 0;
    font-size: 12px;
    line-height: 14px;
    color: var(--theme-default);
}

.errorHelp {
    color: var(--theme-error);
}
