.cell {
    box-sizing: border-box;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    background-color: var(--table-value-bg);
    border: 1px solid var(--table-border-color);
    border-width: 0 0 1px 1px;
}

tr:hover .cell {
    background-color: var(--table-row-hover-bg);
}

tr:hover .cell:hover {
    background-color: var(--table-value-hover-bg);
}

:global(table.font-size-large) .cell {
    font-size: 13px;
    line-height: 13px;
}
.cell,
:global(table.font-size-normal) .cell {
    font-size: 11px;
    line-height: 11px;
}
:global(table.font-size-small) .cell {
    font-size: 10px;
    line-height: 10px;
}

:global(table.size-comfortable) .cell {
    padding: 7px;
}
.cell,
:global(table.size-normal) .cell {
    padding: 5px;
}
:global(table.size-compact) .cell {
    padding: 4px;
}

.emptyCell::after {
    content: '\00a0';
}

.nowrap {
    white-space: nowrap;
}

.undefinedCell {
    background-image: repeating-linear-gradient(
        45deg,
        var(--colors-grey300) 0,
        var(--colors-grey300) 0.8px,
        transparent 0,
        transparent 50%
    );
    background-size: 8px 8px;
}
