.container {
    position: relative;
    flex: 1 1 auto;
    min-block-size: 0;
    min-inline-size: 0;
    overflow: auto;
    box-sizing: border-box;
    background-color: var(--colors-white);
    scrollbar-width: thin;
}

.content {
    min-inline-size: min-content;
    min-block-size: min-content;
}
