.footerCell {
    padding: 0;
    inset-inline-start: auto;
    text-align: start;
    inline-size: auto;
    background-color: var(--colors-white);
    border-block-start: 1px solid var(--colors-grey300);
}
.stickyContainer {
    position: sticky;
    inset-inline-start: 0;
    box-sizing: border-box;
}

:global(table.size-comfortable) .stickyContainer {
    padding: 14px 12px;
}
.stickyContainer,
:global(table.size-normal) .stickyContainer {
    padding: 10px 12px;
}
:global(table.size-compact) .stickyContainer {
    padding: 6px 12px;
}
